<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="/styles/base.scss">
        


    </head>

    <body>
        <div class="container"

            <header>
                <div>
                    <p>Logo</p>
                </div>
                <div>
                    <p>navigation</p>
                </div>
            </header>

            <main>
                <section>
                    <form class="" onsubmit="return handleSubmit(event)">
                        <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                    </form>
                <section>

                <section>
                    <h2>Form Results: <span id="URLResult"></span></span></h2>
                    <h2 id="URL">Results 1</h2>
                    <p id="server_message">Results 2</p>

                </section>
            </main>

            <footer>
                <p>This is a footer!!</p>
            </footer>
        </div>
    </body>
</html>
