$font-color: rgb(16, 199, 32);



body {
    
}

main {
    flex: 2;
}

section {
    
}

p {
    font-size: 25px;
    color: $font-color;
}

.container {
    width: 50%;
    margin: 25px auto;
    display: grid;
    grid-template-rows: 100px 100px 500px 200px;
}
