$h2-color: rgb(0, 4, 255);

#form {

    margin: 10px 0;
    border: gray;
    border-style: double;
    height: 400px;
    padding: 10px;

    h2 {
        font-size: 20px;
        color: $h2-color;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 16px;
    }

    #button{
        font-size: 16px;
        padding: 5px;
    }

}